node_modules/
dist/
coverage/
*.log
.env
.env.*
!.env.example
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
.DS_Store
offckb.env
devnet-services.env
testnet-services.env
packages/web/datenschutz.html
packages/web/haftungsausschluss.html
packages/web/impressum.html
mainnet-services.env
stats-export/stats.json
*:Zone.Identifier
